p {
    font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
}

.Live { 
    font-family: 'Gruppo', cursive;
    text-align: center;
}

iframe {  
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.Midtown {
    align-self: center;
}

footer {
    text-align: center;
}